body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    color: #fff;
}

h1 {
    text-align: center;
    padding-top: 40px;
}

.social-media-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.social-media-link {
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    width: 140px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

.social-media-link:hover {
    background-color: #555;
    box-shadow: 0 0 10px #00ff00;
}

.social-media-link img {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

/* For mobile devices */
@media (max-width: 767px) {
    h1 {
        padding-top: 20px;
    }

    .social-media-link {
        font-size: 16px;
        padding: 8px;
    }

    .social-media-link img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}

/* For tablet devices */
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        padding-top: 30px;
    }

    .social-media-link {
        font-size: 20px;
        padding: 12px;
    }

    .social-media-link img {
        width: 36px;
        height: 36px;
        margin-right: 12px;
    }
}
